* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: 700;
    margin: 0;
   }

   h3{
       color: #b11116;
   }


.main-container{
    display: flex;
    height: 100vh;
}

.leftside{
    width: 25%;
    height: 100vh;
    position: fixed;
    background-image: url(./assets/images/headerbg.jpg); 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu button{
    display: block;
    background-color: inherit;
    color: wheat;
    padding: 12px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
    text-align: center;
    margin-bottom: 04px;
}

.menu button:hover{
    background-color: #ddd;
    color: #b11116;
    border-radius: 0px;
}

hr{
    border-top: 1px solid #b11116;
}

.leftside img{
    width: 200px;
    height: 140px;
}

.logo{
    height: 30vh;
    position: absolute;
    top: 80px;
}

.menu{
    height: 60vh;
    position: relative;
    top: 260px;
}

.copyright{
    height: 10vh;
    position: relative;
    top: 200px;
}



.rightside{
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/bg-01.jpg);
    background-size: cover;
    
}

.welcome-content strong, .content-author strong{
    color: #b11116;
    opacity: 60%;
    font-weight: 500;
}
.copyright p{
    color: aliceblue;
    font-size: 12px;
}

.rightmaincontainer{
    display: flex;
    flex-direction: column;
    margin: 4% 4% 0 30% ;
    
}


.welcometosection{
    /*background-color: skyblue;*/
    height: 25vh;
    display: flex;
    position: relative;
    
}

.welcometosection p{
    font-size: 14px;
    line-height: 28px;
}
.welcome-image img{
    width: 250px;
    height: 150px;

}



p{
    text-align: justify;
}

.welcome-content{
    width: 100%;
    position: relative;
    margin-left: 40px;
}




.about-us-section{
    height: 25vh;
    position: relative;
    top: 60px;
    padding-right: 20px;
    display: flex;
    width: 100%;
    
}

.author{
    display: flex;
    flex-direction: column;
}

.content-author{
    margin-left: 20px;
    margin-top:20px;
    font-size: 14px;
    line-height: 28px;
}

.content-author img{
    width: 160px;
    height: 160px;
    float: left;    
}

.content-author p{
    padding-left: 200px;
    margin-top: 0px;
}

.artgallery{
    /*background-color: turquoise;*/
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 80px;

}

.item-gal{
    width: 50%;
    margin: 5px;
}

.gallery-items{
    display: flex;
    width: 100%;
}

.item-gal img{
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: #fff;
}

.footerform{
    height: 10vh;
    position: relative;
    top: 160px;
    width: 100%;
    display: flex;
}

.footer-1{
    width: 65%;
}

.footer-1 p{
    font-size: 20px;
    margin-right: 40px;
}

.footer-1 strong{
    color: #b11116;
    font-weight: 400;
}
.footer-2{
    width: 35%;
    font-size: 12px;
    
}

.footer-2 strong{
    color: #b11116;
}

.footer-2 p{
    margin-left: 20px;
    margin-top: 0;
}

.footer-2 img{
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 5px;
}
